:root { 
  --deep-blue: #270e6b;
  --light-blue: #90aed1;
  --gray: #5a5a5a;
  --light-gray: #b8b8b8;
  --dark-gray: #30302b;
  --vanilla: #e7e6a8;
  --white: #ffffff;
  --black: #000000;
}

  body {
    padding-top: 3rem;
    padding-bottom: 3rem;
    background-color: var(--bg);
    color: var(--fontColor);
  }

  #navbar {
    background-color: var(--h4FontColor);
  }

  #mainName {
    color: var(--btnFontColor);
  }

  #themeBtn{
    position: fixed; 
    right: 153px; 
    color: var(--btnFontColor);
    background-color: var(--btnBg); 
    font-family: fantasy;
    font-size: large;
  }

  #languageBtn{
    position: fixed; 
    right: 20px; 
    width: 120px;
    color: var(--h4FontColor);
    background-color: var(--bg);
    font-family: fantasy;
    font-size: large;
  }

  #jumbo { 
    background-color: var(--boardBgColor);
  }
  #welcome {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  }

  /* MARKETING CONTENT
  -------------------------------------------------- */
  .featurette-divider {
    margin: 5rem 0; /* Space out the Bootstrap <hr> more */
  }
  
  /* Thin out the marketing headings */
  .featurette-heading {
    font-weight: 300;
    line-height: 1;
    letter-spacing: -.05rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  }
  
  h4 {
    font-style: italic;
    font-family:fantasy ;
    color: var(--h4FontColor);
  }

  .sinopse {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  h6 {
    color: var(--h6FontColor);
  }
  
  /* RESPONSIVE CSS
  -------------------------------------------------- */
  @media (min-width: 40em) {
    .featurette-heading {
      font-size: 50px;
    }
  }
  
  @media (min-width: 62em) {
    .featurette-heading {
      margin-top: 7rem;
    }
  }

  .light-theme {
    --bg: var(--white);
    --fontColor: var(--black);  
    --boardBgColor: var(--vanilla);
    --h4FontColor: var(--deep-blue);
    --h6FontColor: var(--gray);
    --btnBg: var(--black);
    --btnFontColor: var(--white);
  }

  .dark-theme {
    --bg: var(--black);
    --fontColor: var(--white);
    --boardBgColor: var(--dark-gray);
    --h4FontColor: var(--light-blue);
    --h6FontColor: var(--light-gray);
    --btnBg: var(--white);
    --btnFontColor: var(--black);
  }

  
